apiVersion: v1
kind: ServiceAccount
metadata:
  name: orchestrator
  namespace: onap-orchestrator
  labels:
    app: orchestrator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: orchestrator
  namespace: onap-orchestrator
  labels:
    app: orchestrator
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: orchestrator
  namespace: onap-orchestrator
  labels:
    app: orchestrator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: orchestrator
subjects:
- kind: ServiceAccount
  name: orchestrator
  namespace: onap-orchestrator
